{
    "extends": ["react-app", "prettier/react"],
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": "error",
      "indent": "off",
      "no-unused-vars": "error",
      "max-len": ["error", { "code": 150 }]
    }
}
  