@font-face {
    font-family: 'Monteserrat';
    src: local('MyFont'), url(./fonts/Montserrat-Regular.ttf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monteserrat';
    src: local('MyFont'), url(./fonts/Montserrat-Italic.ttf) format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Monteserrat';
    src: local('MyFont'), url(./fonts/Montserrat-Medium.ttf) format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Monteserrat';
    src: local('MyFont'), url(./fonts/Montserrat-MediumItalic.ttf) format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Monteserrat';
    src: local('MyFont'), url(./fonts/Montserrat-SemiBold.ttf) format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Monteserrat';
    src: local('MyFont'), url(./fonts/Montserrat-SemiBoldItalic.ttf) format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Monteserrat';
    src: local('MyFont'), url(./fonts/Montserrat-Bold.ttf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Monteserrat';
    src: local('MyFont'), url(./fonts/Montserrat-BoldItalic.ttf) format('opentype');
    font-weight: 700;
    font-style: italic;
}

.App {
    background-color: #f0f0f0;
}
.leaflet-popup-content-wrapper {
    background-color: rgba(255, 255, 255, 0.75) !important;
}